BANK_API_BASE_URL=https://devbankstaging.automatixpay.com/api
LOGIN_EMAIL=superadmin@devbankstaging.automatixpay.com
LOGIN_PASSWORD=Admin123!
BANK_SLUG=devbank-staging
BANK_ID=devbank-staging
ENTITIES="brands legal_entities points_of_sale"
